<md-toolbar class="mat-elevation-z5">
  <div fxLayout fxLayoutAlign="center center" fxFlexFill>
    <div fxLayout fxLayoutAlign="space-between center" fxFlex="90">
      <div class="icon" fxLayout fxLayoutAlign="center center">
        <img src="/assets/logo-az.png">
      </div>
      <div>
        <button md-button routerLink="/">
          <span>Home</span>
        </button>
        <button md-button routerLink="/blog">
          <span>Blog</span>
        </button>
      </div>
      </div>
  </div>
</md-toolbar>

<header fxLayout>
  <div class="header hgroup" fxLayout="column" fxLayoutAlign="start center">
    <img src="/assets/logo.png">
  </div>
</header>
