@import "../../../../scss/color";

header {
  margin-top: 56px;
  background-color: $purple;
  padding: 40px;
  color: white;

  img {
    max-width: 250px;
    width: auto;
    height: auto;
  }
}

.icon img {
  max-height: 40px;
  width: auto;
  height: auto;
}

.mat-toolbar {
  z-index: 9999;
  position: fixed;
  left: 0;
  top: 0;
}

