<md-card>
  <md-card-header>
    <md-card-title>
      <h4>Receba orientações de Marketing Digital gratuitamente</h4>
    </md-card-title>
    <md-card-subtitle>Aplique-se preenchendo o formulário e descubra oportunidades não exploradas pela sua empresa</md-card-subtitle>
  </md-card-header>
  <md-card-content fxLayout="column">
      <form fxLayout="column">
        <md-form-field>
          <input name="name" mdInput placeholder="Name" required>
        </md-form-field>

        <md-form-field fxFlex>
          <input name="lastname" mdInput placeholder="Last name" required>
        </md-form-field>

        <md-form-field>
          <input name="email" mdInput type="email" placeholder="E-mail" required>
        </md-form-field>

        <button md-raised-button color="accent">Assinar</button>
      </form>

      <hr>

      <span fxFlexAlign="center" class="or-span">ou</span>

      <button md-raised-button class="google-button">
        <img src="/assets/google_icon.png" >
        Assinar com Google Mail
      </button>
    </md-card-content>
</md-card>
