<div id="post-list" class="mat-elevation-z2 post-wrapper" *ngFor="let post of postList | async"
     fxLayout fxLayoutAlign="start stretch" fxLayoutWrap fxLayout.xs="column"
     routerLink="/post/{{post.path}}">
  <div class="cover" [style.background-image]="'url(' + post.imageUrl + ')'"></div>

  <div class="content" fxFlex>
    <h2>{{post.title}}</h2>
    <p class="info">Por <strong>{{post.author}}</strong> em <time datetime="2017-9-18">{{ post.date | date:'yMd' }}</time></p>
    <h3 class="excerpt">{{post.description}}</h3>
  </div>
</div>
