:host {
 padding: 0 15px;
}

.content {
  padding: 10px 20px;
}

h4 {
  color: gray;
}

.post-wrapper{
  margin: 20px;
  max-width: 600px;
  overflow: hidden;

  .cover {
    min-width: 100px;
    min-height: 150px;
    background-size: cover;
    background-position: center;
  }


  &:hover {
    cursor: pointer;
  }
}
