
  <div class="conteiner-post">

  <h2>
    10 Dicas para sua empresa Bombar nas Redes Sociais
  </h2>
  
  <img src="/assets/post_image.png" width="100%">

  <p>
  Se você deseja promover a sua empresa gastando pouco e utilizando recursos simples, as redes sociais podem ser uma solução pra você. Selecionamos dez dicas infalíveis de marketing em redes sociais
  </p>

  <p>

  1-) Verifique onde o seu público está: Não adianta investir em canais que o seu público não está. Por exemplo: se você vende softwares de gestão para empresas, o seu negócio não precisa ter uma conta no Instagram. Pesquise o seu público e identifique aonde ele está presente. Consulte os seus concorrentes e veja em quais canais eles estão.
  </p>

  <p>

  2-) Personalize as suas contas: Insira a sua logo e imagens nos formatos corretos utilizados em redes sociais como por exemplo capa do Facebook (851 x 315 px) e Twitter (1500 x 500 px).
  </p>

  <p>

  3-) Mantenha a frequência das postagens: Muitas empresas cometem o erro de criar contas nas redes sociais e abandonarem as postagens, dando a impressão de que o seu negócio está estagnado. Não cometa esse erro! Crie um cronograma de postagens e tente publicar pelo menos um conteúdo por dia em todas as redes sociais.
  </p>

  <p>

  4-) Varie nos posts: Procure realizar diferentes tipos de postagens nas redes sociais, utilizando fotos, vídeos, mini infográficos, posts com links, entre outros. Analise quais conteúdos geram maior engajamento e tráfego para o seu site ou blog e invista mais neles.
  </p>

  <p>

  5-) Não deixe os seus clientes sem resposta: Você já enviou alguma dúvida para uma empresa em uma rede social e não obteve resposta? Se sim, sabe que é muito desagradável não ser atendido. E o seu público pensa da mesma forma, então sempre responda a todas as mensagens e dúvidas postadas. E quanto mais você interage com o público, mais aproximação com ele você garante.
  </p>

  <p>

  6-) Analise as métricas: Mensure todos os resultados para saber se está indo no caminho certo. Cada rede social oferece o seu próprio relatório de análise. Preste atenção em duas métricas importantes: engajamento e tamanho do público.
  </p>

  <p>

  7-) Faça uma integração do online com o offline: Com o offline, você trabalha o mercado local, enquanto com o online, você trabalha com todo o mundo. É possível reunir as duas coisas juntas e otimizar a sua presença digital. Ex: Em um evento promocional, você pode realizar ações utilizando hashtags personalizadas, que farão com que o seu público interaja com as contas da sua empresa nas redes sociais e ajudem você a promover o seu negócio.
  </p>

  <p>

  8-) Entregue conteúdo relevante: Procure entregar soluções e conteúdos que interessem ao seu público. Se você é proprietário de um restaurante italiano, pode falar por exemplo sobre tipos de massas, harmonização de vinhos, compartilhar receitas, etc.
  </p>

  <p>

  9-) Use hashtags: Crie hashtags personalizadas para o seu negócio e procure saber quais são as mais utilizadas em seu segmento. Utilize essas hashtags em suas postagens.
  </p>

  <p>

  10-)  Comunique-se com o seu público: Crie enquetes, pergunte e incentive a participação dos usuários em suas mídias sociais.
  </p>


</div>