<div fxLayout="column" fxLayoutWrap>

  <div class="figure" fxLayout fxLayoutAlign="center">
    <img src="/assets/landing-page-image.png" class="promo" fxFlex>
  </div>

  <div class="content-text">
    <h3>Oferecemos ferramentas, soluções e consultoria exclusiva para empresas que desejam usufruir das vantagens do Marketing Digital para alcançar resultados efetivos de vendas.</h3>
    <h4>Para isso, procuramos simplificar o universo digital.</h4>

    <p>Munimos os nossos clientes com ricos materiais educativos sobre blogs, e-mail marketing, redes sociais, e-commerce, SEO, mídias online, geração de leads, entre outros, que garantem o crescimento dos seus negócios.</p>
    </div>
</div>

