<div fxLayout="column" fxLayoutWrap class="container">
  <div class="figure" fxLayout fxLayoutAlign="center">
    <img src="/assets/landing-page-image.png" class="promo" fxFlex>
  </div>

  <div class="content-text">
    <h3>Oferecemos ferramentas, soluções e consultoria exclusiva para empresas que desejam usufruir das vantagens do Marketing Digital para alcançar resultados efetivos de vendas.</h3>
    <h4>Se você quer impulsionar os seus negócios, garantir um aumento de leads qualificados para a sua base e lucrar de forma efetiva e simplificada, você precisa receber os nossos informativos. Chega de perder dinheiro com investimentos que não funcionam!</h4>

    <p>Vamos muni-lo com ricos materiais informativos sobre blogs, e-mail marketing, redes sociais, e-commerce, SEO, mídias online, geração de leads, entre outros, que garantem o crescimento da sua empresa.</p>
  </div>
</div>

