<header>
  <div class="header hgroup" fxLayout="column" fxLayoutAlign="center center">
    <h1 style="font-size: 28px; line-height: 40px;">Quer saber como solucionar os problemas do seu negócio?&nbsp;</h1>
    <h2 class="hide-mobile">Candidate-se e receba uma avaliação de nossos consultores</h2>
  </div>
</header>

<div fxLayout fxLayoutAlign="center start">
  <div fxLayout="column" fxFlex="50">
    <router-outlet></router-outlet>
  </div>
  <div fxLayout="column" fxFlex="25">
    <app-call-to-action></app-call-to-action>
  </div>
</div>

