header {
  background-image: url('/assets/background.png');
  padding: 50px;
  color: white;
}

.call-to-action {
  background-color: #f0f0fa;
}

.site-map {
  background-color: blue;
  height: 200px;
}

.copyright {
  color: white;
  height: 50px;
  background-color: #59758a;
}
