@import '../../../../scss/color';

header {
  background-color: $purple;
  color: white;

  img {
    max-width: 500px;
    max-height: 300px;
    width: auto;
    height: auto;
  }
}

.call-to-action {
  background-color: #f0f0fa;
}

.site-map {
  background-color: blue;
  height: 200px;
}

.copyright {
  color: white;
  height: 50px;
  background-color: $purple;
}
